.RoutePage {
  width: 85%;
  height: max-content;
  height: 200px;
  position: absolute;
  margin-left: 15%;
  margin-top: 60px;
}

.Background {
  padding: 2%;
  background-color: #daf5ff;
}

.NewPage {
  padding: 2%;
  border-radius: 10px;
  background-color: #ffffff;
  height: fit-content;
  padding-right: 15%;
}

.Title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  display: inline;
}

.input-box-container {
  height: 100%;
}
.info {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.input-area {
  width: 80%;
}

.input-detail {
  padding-top: 30px;
}

.required {
  color: red;
}

.description-area {
  width: 90%;
  padding-bottom: 10%;
  word-wrap: break-word;
}

.button-contact {
  float: right;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 2%;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-contact:hover,
.button-contact:focus {
  background-color: #07c;
}

.button-contact:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-contact:active {
  background-color: #0064bd;
  box-shadow: none;
}

.industry-dropdown {
  height: 60%;
  width: 80%;
  border-color: grey;
  color: black;
  overflow-y: scroll;
}

.container {
}
.drag-area {
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-title {
  font-weight: 500;
}
.drag-area .icon {
  font-size: 50px;
  color: #1683ff;
}
.drag-area .header {
  font-weight: 500;
  color: #34495e;
}
.drag-area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}
.drag-area .button {
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}
.drag-area.active {
  border: 2px solid #1683ff;
}
.drag-area img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.download {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.no-contact {
  width: 100%;
  text-align: center;
}

.create-company-box {
  background-color: #a6f6ff;
  position: fixed;
  bottom: 0%;
  width: 80%;
  height: 10%;
}
.create-company-button {
  margin-top: 2%;
  float: right;
}

.create-company-box button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2em;
  overflow: hidden;
  margin: 20px;
  font-size: 15px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.create-company-box button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.create-company-box button:hover {
  color: white;
}

.create-company-box button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.create-company-box button:hover::before {
  top: -30px;
  left: -30px;
}

.form {
  width: 100%;
}

.overlay-box p {
  margin-bottom: 0;
}

.overlay-input {
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}

.create-contact-button {
  float: right;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}

.create-contact-cancel {
  float: right;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
  :hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}
